.cover-img {
    width: 100%;
    height: 300px;
    background-image: url('/src/Images/Photo/stadium.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* opacity: .9; */
}
.cover-text{
    color: white;
}